@model IEnumerable<zancudo.Entidades.ClienteDisfraz>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3 bg-second-primary">
            <h6 class="m-0 font-weight-bold text-Dark">Gestion de Rentas</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    <a asp-action="Create" class="btn btn-outline-success">Nuevo</a>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-12">
                    <ejs-grid id="Grid" dataSource="ViewBag.dataSource" allowPaging="true" allowSorting="true" allowResizing="true" allowReordering="true" allowGrouping="true" toolbar="@(new List<string>() { "Search"})" allowFiltering="true" allowSelection="true">
                        <e-grid-filterSettings type="Menu"></e-grid-filterSettings>
                        <e-grid-selectionsettings type="Single"></e-grid-selectionsettings>
                        <e-grid-pagesettings pageCount="5" pageSize="5"></e-grid-pagesettings>
                        <e-grid-columns>
                            <e-grid-column field="Cliente" headerText="Cliente"></e-grid-column>
                            <e-grid-column field="Disfraz" headerText="Disfraz y Tipo"></e-grid-column>
                            <e-grid-column field="TipoPagoId" headerText="Tipo de Pago" width="140"></e-grid-column>
                            <e-grid-column field="FechaInicio" headerText="Inicio" width="100" format="dd-MM-yyyy"></e-grid-column>
                            <e-grid-column field="FechaFin" headerText="Fin" width="100" format="dd-MM-yyyy"></e-grid-column>
                            <e-grid-column field="DiasArriendo" headerText="Días de Arriendo"></e-grid-column>
                            <e-grid-column headerText="Acciones" width="120" textAlign="Center" template="#Actions"></e-grid-column>
                        </e-grid-columns>
                    </ejs-grid>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="Actions" type="text/x-template">
    <a class="btn btn-sm no-a-decoration" href="/ClientesDisfraces/Edit/${Id}">
        <i class="fa-solid fa-pen-to-square fa-lg"></i>
    </a>
    <a class="btn btn-sm no-a-decoration" href="/ClientesDisfraces/SoftDelete/${Id}">
        <i class="fa-solid fa-trash"></i>
    </a>
</script>