@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos a Don Zancudo Gestion de Renta de Disfraces</h1>
    <div class="form-group text-center">
        <img src="~/Images/zancudo.jpg" alt="Descripción de la imagen" width="50%" height="50%">
        <h3>
            Don Zancudo
        </h3>
    </div>
</div>
