@model zancudo.Entidades.Cliente

@{
    ViewData["Title"] = "Create";
}

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3 bg-second-primary">
            <h6 class="m-0 font-weight-bold text-Dark">Crear Nuevo Cliente</h6>
        </div>
        <div class="card-body">
            <div class="col-sm-12">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-row">
                        <div class="form-group">
                            <label asp-for="Rut" class="control-label"></label>
                            <input asp-for="Rut" class="form-control" type="text" maxlength="10" pattern="\d{8}-[0-9kK]" placeholder="99999999-X" />
                            <span asp-validation-for="Rut" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Nombres" class="control-label"></label>
                            <input asp-for="Nombres" class="form-control" />
                            <span asp-validation-for="Nombres" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Apellidos" class="control-label"></label>
                            <input asp-for="Apellidos" class="form-control" />
                            <span asp-validation-for="Apellidos" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Telefono" class="control-label"></label>
                            <input asp-for="Telefono" class="form-control" type="number" maxlength="9" />
                            <span asp-validation-for="Telefono" class="text-danger"></span>
                        </div>
                    </div>
                    <br>
                    <div class="form-group text-center">
                        <input type="submit" value="Create" class="btn btn-outline-primary" />
                        <button id="backToList" type="button" class="btn btn-outline-danger" onclick="window.location.href='@Url.Action("Index", "Clientes")'">
                            Cancelar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
